Repository fusionjs/fusionjs.github.io, pull requests merged in 2019-04, with the labels that each got.

#123 Fix doc example
  documentation/docs/references/creating-a-plugin/index.md
Labels: docs

#124 Update getting started section, rename Getting Started to docs
  documentation/docs/getting-started/getting_started_1.png
  documentation/docs/getting-started/getting_started_2.png
  documentation/docs/getting-started/index.md
  gatsby-config.js
  package.json
  src/nav-docs.yml
  yarn.lock
Labels: feature

#122 Add page describing useService and hooks
  documentation/docs/references/creating-a-plugin/creating-providers.md
  documentation/docs/references/creating-a-plugin/using-services.md
  src/nav-docs.yml
Labels: feature

#125 Add redirects to fix broken links caused by re-org
  static/_redirects
Labels: bugfix

#127 Update styling docs to refer to the styletron docs
  documentation/docs/references/styling.md
Labels: docs

#128 Remove reference to fusion-react-async
  documentation/docs/references/performance/quick-wins.md
Labels: bugfix, docs
